@import "tailwindcss";

:root {
  --background: #141b21;
  --foreground: #ecfbff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #8fd278;
  --color-primary-light: #dae980;
  --color-primary-dark: #37a57f;
  --font-poppins: var(--font-poppins);
}

@layer base {
  h1 {
    @apply text-4xl font-medium;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Helvetica, sans-serif;
}
